<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace = "com.greenart.ch1">
	<!-- 아이디 찾을 때 아이디 개수 1개( signupController ) -->
	<select id="selectIdCount" parameterType="String" resultType="int">
		SELECT count(*) FROM member
		WHERE id = #{id}
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="idToEmail" parameterType="map" resultType="BCUserDto">
		SELECT * FROM member 
		WHERE name = #{name} AND email = #{email}
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="pwdToEmail" parameterType="map" resultType="BCUserDto">
		SELECT * FROM member 
		WHERE id=#{id} AND name=#{name} AND email=#{email}
	</select>
	
	<!-- 이메일 인증 -->
	<select id="confirmEmail" parameterType="String" resultType="int">
		SELECT count(email) FROM member
		WHERE email=#{email}
	</select>
	
	<!-- 고객 정보 찾기 -->
	<select id="selectUser" parameterType="String" resultType="BCUserDto">
		SELECT * FROM member
		WHERE id=#{id}
	</select>
	
	<!-- insert, delete, update 자동 int 반환 -->
	<!-- 정보 삭제 -->
	<delete id="deleteUser" parameterType="map">
		DELETE FROM member
		WHERE id=#{id} AND pwd=#{pwd}
	</delete>
	
	<!-- 정보 등록 -->
	<insert id="insertUser" parameterType="BCUserDto">
		INSERT INTO member
			(id, pwd, name, email, tel, reg_date)
		VALUES 
			(#{id}, #{pwd}, #{name}, #{email}, #{tel}, now() )
	</insert>
	
	<!-- 정보 업데이트 ( 비밀번호 ) -->
	<update id="updateUserPwd" parameterType="map">
		UPDATE member
		SET pwd=#{pwd}
		WHERE id = #{id} 
	</update>
	
	<!-- 정보 업데이트 ( 이메일 ) -->
	<update id="updateUserEmail" parameterType="map">
		UPDATE member
		SET email = #{email}
		WHERE id = #{id} 
	</update>
	
	<!-- 정보 업데이트 ( 전화번호 ) -->
	<update id="updateUserTel" parameterType="map">
		UPDATE member
		SET tel = #{tel}
		WHERE id = #{id} 
	</update>
	
	<!-- 정보 전체 삭제 -->
	<delete id="u_deleteAll">
		DELETE FROM member
	</delete>
	
	<!-- 정보 전체 검색 -->
	<select id="u_selectAll" resultType="BCUserDto">
		SELECT * FROM member WHERE NOT id = 'admin'
	</select>
	
</mapper>