<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace = "com.greenart.ch1">
	<select id="p_selectAll" resultType="ProductDto">
		SELECT * FROM pd_info
	</select>
	
	<delete id = "p_deleteAll" parameterType = "int">
		DELETE FROM pd_info
		WHERE pd_num = #{pd_num}
	</delete>
	
	<select id="productInfoSelectAll" resultType="ProductDto">
		select * from pd_info
	</select>
	
	<select id="pd_numSelect" resultType="ProductDto">
		select pd_num from pd_info
	</select>
	
	<select id="pd_wishSelect" resultType="WishDto">
		select A.pd_num, A.pd_img, A.pd_title, A.pd_subtitle, A.pd_days, A.pd_price, A.pd_totalScore, A.pd_totalScoreMember, B.pd_wishCheck from pd_info as A left join pd_wish as B on A.pd_num = B.pd_num and B.id=#{id} where A.pd_city = #{pd_city} and (A.pd_title like concat('%',#{keyword},'%')
            or 
            A.pd_subtitle like concat('%',#{keyword},'%')) order by reg_date desc, pd_num desc limit #{offset}, #{pageSize}
	</select>
	
	<select id="pd_buyCntSelect" resultType="WishDto">
		select A.pd_num, A.pd_img, A.pd_title, A.pd_subtitle, A.pd_days, A.pd_price, A.pd_totalScore, A.pd_totalScoreMember, B.pd_wishCheck from pd_info as A left join pd_wish as B on A.pd_num = B.pd_num and B.id=#{id} where A.pd_city = #{pd_city} and not A.pd_buyCnt =0 and (A.pd_title like concat('%',#{keyword},'%')
            or 
            A.pd_subtitle like concat('%',#{keyword},'%')) order by pd_buyCnt desc, pd_num desc limit #{offset}, #{pageSize}
	</select>
	
	<select id="pd_buyCntTop" resultType="ProductDto">
		select * from pd_info where not pd_buyCnt =0 order by pd_buyCnt desc, pd_num desc limit 3
	</select>
	
	<select id="pd_searchSelect" resultType="WishDto">
		select A.pd_num, A.pd_img, A.pd_title, A.pd_subtitle, A.pd_days, A.pd_price, A.pd_totalScore, A.pd_totalScoreMember, B.pd_wishCheck from pd_info as A left join pd_wish as B on A.pd_num = B.pd_num and B.id=#{id} where (A.pd_title like concat('%',#{keyword},'%')
            or 
            A.pd_subtitle like concat('%',#{keyword},'%')) order by pd_buyCnt desc, pd_num desc limit #{offset}, #{pageSize}
	</select>
	
	<select id="pd_reviewSelect" resultType="ProductDto">
		select A.pd_num, A.pd_city, A.pd_img, A.pd_title, A.pd_subtitle, A.pd_days, A.pd_price, A.pd_transport, A.pd_departDay, A.pd_departStart, A.pd_departEnd, A.pd_deportDay, A.pd_deportStart, A.pd_deportEnd, A.pd_visitCity, A.pd_totalScore, A.pd_totalScoreMember, A.pd_buyCnt, 
		B.pd_reviewCheck from pd_info as A left join reservation as B on A.pd_num = B.pd_num and B.mem_id=#{id} where A.pd_num = #{pd_num}
	</select>
	
	<insert id="pd_scoreInsert">
		insert into pd_score(pd_num, id, pd_departDay) values(#{pd_num}, #{id}, #{pd_departDay})
	</insert>
	
	<select id="pd_scoreSelect" resultType="ProductDto">
		select pd_num, id, pd_scorePoint, pd_departDay from pd_score where pd_num =#{pd_num} and id=#{id}
	</select>
	
	<select id="productInfoSelect" parameterType = "int" resultType="productDto">
		select * from pd_info
		where pd_num = #{pd_num}
	</select>
	<sql id="selectFromProduct">
      	SELECT * FROM pd_info
   </sql>
   
   <update id="increaseBuyCnt">
   		update pd_info set pd_buyCnt= pd_buyCnt+1 where pd_num=#{pd_num}
   </update>
   
   <update id="decreaseBuyCnt">
   		update pd_info set pd_buyCnt= pd_buyCnt-1 where pd_num=#{pd_num}
   </update>
   
   <update id="setScore" parameterType="map">
   		update pd_score set pd_scorePoint =#{pd_scorePoint} where pd_num = #{pd_num} and id = #{id}
   </update>
   
   <update id="addScore" parameterType="map">
   		update pd_info set pd_totalScore =pd_totalScore + #{pd_scorePoint}, pd_totalScoreMember = pd_totalScoreMember+1 where pd_num = #{pd_num}
   </update>
   
   <update id="deleteScore" parameterType="map">
   		update pd_info set pd_totalScore =pd_totalScore - #{pd_scorePoint}, pd_totalScoreMember = pd_totalScoreMember-1 where pd_num = #{pd_num}
   </update>
   
   <select id="p_searchSelectPage" parameterType="map" resultType="ProductDto">
      <include refid="selectFromProduct"/>
      where pd_city = #{pd_city}
      <include refid="p_searchCondition"/>
      order by reg_date desc, pd_num desc
      limit #{offset}, #{pageSize}
   </select>
   
   <select id="p_searchResultCnt" parameterType="SearchCondition" resultType="int">
      select count(*) from pd_info
      where true
      <include refid="p_searchCondition"/>
   </select>
   
   <select id="p_citySelectResultCnt" parameterType="map" resultType="int">
      select count(*) from pd_info
      where pd_city = #{pd_city}
      <include refid="p_searchCondition"/>
   </select>
   
   <select id="p_buyCntResultCnt" parameterType="map" resultType="int">
      select count(*) from pd_info
      where pd_city = #{pd_city} and not pd_buyCnt =0
      <include refid="p_searchCondition"/>
   </select>
   
   <insert id ="insertInfo" parameterType="ProductDto">
   	  insert into pd_info(pd_img,pd_city,pd_title,pd_subtitle,pd_days,pd_price,pd_transport,pd_departDay,pd_departStart,pd_departEnd,pd_deportDay,pd_deportStart,pd_deportEnd,pd_visitCity) values(#{pd_img},#{pd_city},#{pd_title},#{pd_subtitle},#{pd_days},#{pd_price},#{pd_transport},#{pd_departDay},#{pd_departStart},#{pd_departEnd},#{pd_deportDay},#{pd_deportStart},#{pd_deportEnd},#{pd_visitCity})
   </insert>
  
  <update id="updateProduct" parameterType="ProductDto">
         update pd_info
         set pd_city = #{pd_city},pd_title = #{pd_title},pd_img = #{pd_img},pd_subtitle = #{pd_subtitle},pd_days = #{pd_days},pd_transport = #{pd_transport},pd_departDay = #{pd_departDay},pd_departStart = #{pd_departStart},pd_departEnd = #{pd_departEnd},pd_deportDay = #{pd_deportDay},pd_deportStart = #{pd_deportStart},pd_deportEnd = #{pd_deportEnd},pd_visitCity = #{pd_visitCity}
         where pd_num = #{pd_num}
   </update>
  
  <select id ="seoulList" parameterType ="String" resultType = "ProductDto">
  		select * from pd_info
  		where pd_city = "서울" 
  </select>
   
   <sql id="p_searchCondition">
            and (pd_title like concat('%',#{keyword},'%')
            or 
            pd_subtitle like concat('%',#{keyword},'%'))
   </sql>
</mapper>